*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:before,
:after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.-right-2 {
  right: -0.5rem;
}
.-top-2 {
  top: -0.5rem;
}
.bottom-\[35px\] {
  bottom: 35px;
}
.bottom-\[40px\] {
  bottom: 40px;
}
.left-0 {
  left: 0;
}
.left-4 {
  left: 1rem;
}
.left-\[50\%\] {
  left: 50%;
}
.right-\[30px\] {
  right: 30px;
}
.right-\[40px\] {
  right: 40px;
}
.right-\[50px\] {
  right: 50px;
}
.top-0 {
  top: 0;
}
.top-4 {
  top: 1rem;
}
.top-\[30px\] {
  top: 30px;
}
.top-\[50\%\] {
  top: 50%;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-50 {
  z-index: 50;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-\[10px\] {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-\[21px\] {
  margin-top: 21px;
  margin-bottom: 21px;
}
.my-\[62px\] {
  margin-top: 62px;
  margin-bottom: 62px;
}
.my-\[64px\] {
  margin-top: 64px;
  margin-bottom: 64px;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-14 {
  margin-bottom: 3.5rem;
}
.mb-16 {
  margin-bottom: 4rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-\[1\.25rem\] {
  margin-bottom: 1.25rem;
}
.mb-\[20px\] {
  margin-bottom: 20px;
}
.mb-\[24px\] {
  margin-bottom: 24px;
}
.mb-\[32px\] {
  margin-bottom: 32px;
}
.mb-\[3rem\] {
  margin-bottom: 3rem;
}
.mb-\[51px\] {
  margin-bottom: 51px;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-\[124px\] {
  margin-right: 124px;
}
.mt-20 {
  margin-top: 5rem;
}
.mt-36 {
  margin-top: 9rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-\[12vh\] {
  margin-top: 12vh;
}
.mt-\[19px\] {
  margin-top: 19px;
}
.mt-\[33px\] {
  margin-top: 33px;
}
.mt-\[35px\] {
  margin-top: 35px;
}
.mt-\[38px\] {
  margin-top: 38px;
}
.mt-\[40px\] {
  margin-top: 40px;
}
.mt-\[56px\] {
  margin-top: 56px;
}
.mt-\[78px\] {
  margin-top: 78px;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.\!h-screen {
  height: 100vh !important;
}
.h-10 {
  height: 2.5rem;
}
.h-14 {
  height: 3.5rem;
}
.h-20 {
  height: 5rem;
}
.h-40 {
  height: 10rem;
}
.h-\[12\.5rem\] {
  height: 12.5rem;
}
.h-\[12\.938rem\] {
  height: 12.938rem;
}
.h-\[120px\] {
  height: 120px;
}
.h-\[140px\] {
  height: 140px;
}
.h-\[176px\] {
  height: 176px;
}
.h-\[250px\] {
  height: 250px;
}
.h-\[4\.0625rem\] {
  height: 4.0625rem;
}
.h-\[41px\] {
  height: 41px;
}
.h-\[422px\] {
  height: 422px;
}
.h-\[425px\] {
  height: 425px;
}
.h-\[44px\] {
  height: 44px;
}
.h-\[450px\] {
  height: 450px;
}
.h-\[53px\] {
  height: 53px;
}
.h-\[55px\] {
  height: 55px;
}
.h-\[56px\] {
  height: 56px;
}
.h-\[59px\] {
  height: 59px;
}
.h-\[65px\] {
  height: 65px;
}
.h-\[70px\] {
  height: 70px;
}
.h-\[73px\] {
  height: 73px;
}
.h-\[9\.375rem\] {
  height: 9.375rem;
}
.h-\[917px\] {
  height: 917px;
}
.h-screen {
  height: 100vh;
}
.max-h-\[120px\] {
  max-height: 120px;
}
.max-h-\[140px\] {
  max-height: 140px;
}
.max-h-\[416px\] {
  max-height: 416px;
}
.max-h-\[77px\] {
  max-height: 77px;
}
.w-10 {
  width: 2.5rem;
}
.w-40 {
  width: 10rem;
}
.w-96 {
  width: 24rem;
}
.w-\[100\%\] {
  width: 100%;
}
.w-\[104px\] {
  width: 104px;
}
.w-\[1113px\] {
  width: 1113px;
}
.w-\[119px\] {
  width: 119px;
}
.w-\[12\.5rem\] {
  width: 12.5rem;
}
.w-\[120px\] {
  width: 120px;
}
.w-\[128px\] {
  width: 128px;
}
.w-\[133px\] {
  width: 133px;
}
.w-\[140px\] {
  width: 140px;
}
.w-\[152px\] {
  width: 152px;
}
.w-\[184px\] {
  width: 184px;
}
.w-\[200px\] {
  width: 200px;
}
.w-\[220px\] {
  width: 220px;
}
.w-\[231px\] {
  width: 231px;
}
.w-\[250px\] {
  width: 250px;
}
.w-\[292px\] {
  width: 292px;
}
.w-\[297px\] {
  width: 297px;
}
.w-\[350px\] {
  width: 350px;
}
.w-\[396px\] {
  width: 396px;
}
.w-\[425px\] {
  width: 425px;
}
.w-\[44\.375rem\] {
  width: 44.375rem;
}
.w-\[442px\] {
  width: 442px;
}
.w-\[50\%\] {
  width: 50%;
}
.w-\[547px\] {
  width: 547px;
}
.w-\[617px\] {
  width: 617px;
}
.w-\[73px\] {
  width: 73px;
}
.w-\[80vw\] {
  width: 80vw;
}
.w-\[9\.375rem\] {
  width: 9.375rem;
}
.w-\[963px\] {
  width: 963px;
}
.w-full {
  width: 100%;
}
.w-max {
  width: -moz-max-content;
  width: max-content;
}
.w-screen {
  width: 100vw;
}
.max-w-\[120px\] {
  max-width: 120px;
}
.max-w-\[1396px\] {
  max-width: 1396px;
}
.max-w-\[140px\] {
  max-width: 140px;
}
.max-w-\[1600px\] {
  max-width: 1600px;
}
.max-w-\[164px\] {
  max-width: 164px;
}
.max-w-\[300px\] {
  max-width: 300px;
}
.max-w-\[385px\] {
  max-width: 385px;
}
.max-w-\[400px\] {
  max-width: 400px;
}
.max-w-\[424px\] {
  max-width: 424px;
}
.max-w-\[425px\] {
  max-width: 425px;
}
.max-w-\[448px\] {
  max-width: 448px;
}
.max-w-\[504px\] {
  max-width: 504px;
}
.max-w-\[650px\] {
  max-width: 650px;
}
.max-w-\[700px\] {
  max-width: 700px;
}
.max-w-\[715px\] {
  max-width: 715px;
}
.max-w-\[747px\] {
  max-width: 747px;
}
.max-w-\[77px\] {
  max-width: 77px;
}
.max-w-\[863px\] {
  max-width: 863px;
}
.max-w-\[952px\] {
  max-width: 952px;
}
.flex-auto {
  flex: 1 1 auto;
}
.translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.resize-none {
  resize: none;
}
.columns-2 {
  -moz-columns: 2;
  columns: 2;
}
.break-inside-avoid {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-20 {
  gap: 5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-\[1\.25rem\] {
  gap: 1.25rem;
}
.gap-\[1\.6rem\] {
  gap: 1.6rem;
}
.gap-\[10px\] {
  gap: 10px;
}
.gap-\[13px\] {
  gap: 13px;
}
.gap-\[14px\] {
  gap: 14px;
}
.gap-\[15px\] {
  gap: 15px;
}
.gap-\[184px\] {
  gap: 184px;
}
.gap-\[18px\] {
  gap: 18px;
}
.gap-\[20px\] {
  gap: 20px;
}
.gap-\[25px\] {
  gap: 25px;
}
.gap-\[27px\] {
  gap: 27px;
}
.gap-\[30px\] {
  gap: 30px;
}
.gap-\[41px\] {
  gap: 41px;
}
.gap-\[46px\] {
  gap: 46px;
}
.gap-\[49px\] {
  gap: 49px;
}
.gap-\[50px\] {
  gap: 50px;
}
.gap-\[59px\] {
  gap: 59px;
}
.gap-\[5px\] {
  gap: 5px;
}
.gap-\[60px\] {
  gap: 60px;
}
.gap-\[6px\] {
  gap: 6px;
}
.gap-\[7px\] {
  gap: 7px;
}
.self-center {
  align-self: center;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.text-balance {
  text-wrap: balance;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-\[10px\] {
  border-radius: 10px;
}
.rounded-\[15px\] {
  border-radius: 15px;
}
.rounded-\[16px\] {
  border-radius: 16px;
}
.rounded-\[1rem\] {
  border-radius: 1rem;
}
.rounded-\[20px\] {
  border-radius: 20px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.border {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-\[1px\] {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-t-2 {
  border-top-width: 2px;
}
.border-\[\#363636\] {
  --tw-border-opacity: 1;
  border-color: rgb(54 54 54 / var(--tw-border-opacity));
}
.border-\[\#4D4D4D\] {
  --tw-border-opacity: 1;
  border-color: rgb(77 77 77 / var(--tw-border-opacity));
}
.border-\[\#505050\] {
  --tw-border-opacity: 1;
  border-color: rgb(80 80 80 / var(--tw-border-opacity));
}
.border-\[\#c9c9c9\] {
  --tw-border-opacity: 1;
  border-color: rgb(201 201 201 / var(--tw-border-opacity));
}
.border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-t-\[\#E2E2E2\] {
  --tw-border-opacity: 1;
  border-top-color: rgb(226 226 226 / var(--tw-border-opacity));
}
.bg-\[\#111111\] {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 17 / var(--tw-bg-opacity));
}
.bg-\[\#141414\] {
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity));
}
.bg-\[\#1BD39E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(27 211 158 / var(--tw-bg-opacity));
}
.bg-\[\#3A3A3A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(58 58 58 / var(--tw-bg-opacity));
}
.bg-\[\#4A4A4A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(74 74 74 / var(--tw-bg-opacity));
}
.bg-\[\#CDA3EF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(205 163 239 / var(--tw-bg-opacity));
}
.bg-\[\#CEA3EF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(206 163 239 / var(--tw-bg-opacity));
}
.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.p-6 {
  padding: 1.5rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}
.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}
.px-\[55px\] {
  padding-left: 55px;
  padding-right: 55px;
}
.px-\[59px\] {
  padding-left: 59px;
  padding-right: 59px;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}
.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-\[33\.5px\] {
  padding-top: 33.5px;
  padding-bottom: 33.5px;
}
.py-\[35px\] {
  padding-top: 35px;
  padding-bottom: 35px;
}
.py-\[43px\] {
  padding-top: 43px;
  padding-bottom: 43px;
}
.pb-14 {
  padding-bottom: 3.5rem;
}
.pb-\[35px\] {
  padding-bottom: 35px;
}
.pb-\[40px\] {
  padding-bottom: 40px;
}
.pl-4 {
  padding-left: 1rem;
}
.pl-9 {
  padding-left: 2.25rem;
}
.pl-\[15px\] {
  padding-left: 15px;
}
.pl-\[30px\] {
  padding-left: 30px;
}
.pl-\[40px\] {
  padding-left: 40px;
}
.pr-\[6px\] {
  padding-right: 6px;
}
.pt-20 {
  padding-top: 5rem;
}
.pt-\[127px\] {
  padding-top: 127px;
}
.pt-\[15px\] {
  padding-top: 15px;
}
.pt-\[206px\] {
  padding-top: 206px;
}
.pt-\[25px\] {
  padding-top: 25px;
}
.pt-\[30px\] {
  padding-top: 30px;
}
.pt-\[52px\] {
  padding-top: 52px;
}
.pt-\[83px\] {
  padding-top: 83px;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-\[1\.5rem\] {
  font-size: 1.5rem;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[18px\] {
  font-size: 18px;
}
.text-\[19px\] {
  font-size: 19px;
}
.text-\[1rem\] {
  font-size: 1rem;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[24px\] {
  font-size: 24px;
}
.text-\[25px\] {
  font-size: 25px;
}
.text-\[28px\] {
  font-size: 28px;
}
.text-\[32px\] {
  font-size: 32px;
}
.text-\[36px\] {
  font-size: 36px;
}
.text-\[40px\] {
  font-size: 40px;
}
.text-\[60px\] {
  font-size: 60px;
}
.text-\[64px\] {
  font-size: 64px;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.leading-3 {
  line-height: 0.75rem;
}
.leading-\[110\%\] {
  line-height: 110%;
}
.leading-\[123\%\] {
  line-height: 123%;
}
.leading-\[136\%\] {
  line-height: 136%;
}
.leading-\[140\%\] {
  line-height: 140%;
}
.leading-\[36px\] {
  line-height: 36px;
}
.leading-\[64p\] {
  line-height: 64p;
}
.leading-\[64px\] {
  line-height: 64px;
}
.leading-\[74px\] {
  line-height: 74px;
}
.text-\[\#1BD39E\] {
  --tw-text-opacity: 1;
  color: rgb(27 211 158 / var(--tw-text-opacity));
}
.text-\[\#20BE91\] {
  --tw-text-opacity: 1;
  color: rgb(32 190 145 / var(--tw-text-opacity));
}
.text-\[\#333333\] {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}
.text-\[\#616161\] {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity));
}
.text-\[\#7C7C7C\] {
  --tw-text-opacity: 1;
  color: rgb(124 124 124 / var(--tw-text-opacity));
}
.text-\[\#999999\],
.text-\[\#999\] {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity));
}
.text-\[\#A9A9A9\] {
  --tw-text-opacity: 1;
  color: rgb(169 169 169 / var(--tw-text-opacity));
}
.text-\[\#DCDCDC\] {
  --tw-text-opacity: 1;
  color: rgb(220 220 220 / var(--tw-text-opacity));
}
.text-\[rgba\(238\,238\,238\,\.7\)\] {
  color: #eeeeeeb3;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-80 {
  opacity: 0.8;
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.outline {
  outline-style: solid;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.duration-500 {
  transition-duration: 0.5s;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
body {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  font-family: Montserrat Variable, sans-serif;
  font-weight: 400;
}
.body.active {
  overflow: hidden;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
}
.btn {
  --tw-bg-opacity: 1;
  background-color: rgb(27 211 158 / var(--tw-bg-opacity));
  font-size: 18px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 1680px) {
  .header__inner,
  .profile__inner {
    margin: 0 2rem;
  }
  .task-block {
    width: 50vw !important;
    padding: 40px 25px !important;
  }
}
@media (max-width: 1400px) {
  .task-block {
    width: 100% !important;
  }
  .profile__inner {
    gap: 5rem;
    justify-content: center !important;
  }
  .dashboard {
    width: 60vw;
  }
  .dashboard__inner,
  .dashboard__inner--block {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  .task-block .task-block--content {
    max-width: 50vw !important;
  }
  .task-block--title {
    max-width: 350px;
    font-size: 24px;
  }
  .dashboard__inner--block {
    height: 150px !important;
    flex-direction: column;
    gap: 2rem;
    justify-content: center !important;
    align-items: center !important;
    form button,
    a {
      width: 50vw;
    }
  }
  .text-link {
    display: none;
  }
}
@media (max-width: 700px) {
  .dashboard {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .dashboard-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .task-block {
    flex-direction: column;
    align-items: baseline;
  }
  .task-block .task-block--content {
    max-width: 80vw;
  }
  .dashboard__inner--block {
    form,
    form button,
    a {
      width: 100%;
    }
  }
}
.nav {
  a {
    position: relative;
    transition: color 0.5s ease-in-out;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background: #fff;
      height: 2px;
      width: 0;
      transition: width 0.5s ease-in-out;
    }
    &:hover {
      color: #ffffff;
      &::after {
        width: 100%;
      }
    }
  }
  .activePage {
    color: #ffffff;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background: #fff;
      height: 2px;
      width: 100%;
    }
  }
}
@media (max-width: 500px) {
  .dashboard__inner p {
    max-width: 300px;
  }
  .task-block {
    padding: 20px 25px;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    span {
      width: 30px;
      height: 4px;
      background: #d9d9d9;
      border-radius: 15px;
      transition: all 0.5s ease-in-out;
    }
    &.active {
      position: relative;
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          position: absolute;
          bottom: 0;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .nav {
    position: absolute;
    flex-direction: column;
    background: #000;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding-top: 45px;
    transition: all 0.5s ease-in-out;
  }
  .nav.active {
    top: 10%;
  }
}
@media (max-width: 400px) {
  .dashboard__inner p {
    font-size: 18px;
  }
}
.filter {
  color: #ffffff80;
  position: relative;
  font-size: 20px;
  font-weight: 500;
}
.filter:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.filter:hover:after {
  width: 100%;
}
.filter.active {
  color: #fff;
}
.filter.active:after {
  width: 100%;
}
.bg-roadmap-item-hover {
  transition: all 0.5s ease-in-out;
}
.bg-roadmap-item-hover .button-roadmap-item-hover {
  transition: all 0.5s ease-in-out;
  svg:nth-child(1) {
    display: block;
  }
  svg:nth-child(2) {
    display: none;
  }
}
.bg-roadmap-item-hover .content-roadmap-item {
  transition: all 0.5s ease-in-out;
}
.bg-roadmap-item-hover .text-roadmap-item {
  transition: all 0.6s ease-in-out;
  color: #ffffff80;
  max-width: 265px;
  font-size: 18px;
  margin-left: 40px;
}
.text-roadmap-item {
  opacity: 0;
  top: unset;
  transform: none;
}
.bg-roadmap-item-hover:hover {
  background-image: url(/build/assets/hover-roadmap-block-bca8d2d6.png);
}
.bg-roadmap-item-hover:hover .content-roadmap-item {
  transform: translateY(-120px) translateZ(0);
  img {
    opacity: 0;
  }
}
.bg-roadmap-item-hover:hover .button-roadmap-item-hover {
  border-color: #cda3ef;
  background: #cda3ef;
  svg:nth-child(1) {
    display: none;
  }
  svg:nth-child(2) {
    display: block;
  }
}
.bg-roadmap-item-hover:hover .text-roadmap-item {
  opacity: 1 !important;
  top: 0;
  transform: translateY(-150px);
}
@media (max-width: 1680px) {
  .func-content,
  .block-content {
    margin: 0 2rem;
  }
  .func-content {
    flex-direction: column;
    gap: 2rem;
  }
  .block-content {
    justify-content: center;
  }
}
@media (max-width: 530px) {
  .block-content {
    margin: 0;
  }
  .block-content a .absolute.top-0.left-0 {
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .func-content--filter {
    flex-direction: column;
  }
  .func-content .func-content--box {
    width: 100%;
  }
  .func-content .func-content--form {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    padding: 1rem 0;
    input[type="text"] {
      width: 90%;
    }
    button {
      width: 90%;
    }
  }
  .func-content .func-invite {
    width: 100%;
  }
  .func-content .func-invite {
    gap: 1.25rem;
  }
  .func-content .func-invite .func-invite--content {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    padding: 1rem 0;
    input[type="text"] {
      width: 90%;
    }
    button {
      width: 90%;
    }
  }
}
@media (max-width: 390px) {
  .bg-roadmap-item-hover {
    width: 360px;
    svg {
      width: 360px;
    }
  }
  .bg-roadmap-item-hover:hover {
    background: none;
  }
}
.pathIconContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.createGroup__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
.r-all {
  width: 710px;
  height: 65px;
  padding: 6px;
  border: 2px solid #4d4d4d;
  background: rgba(20, 20, 20, 0.8);
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.r-all .r-group {
  width: 344px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
  cursor: pointer;
  label {
    width: 344px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
  }
  input {
    display: none;
  }
  input + label {
    border-radius: 10px;
    font-size: 20px;
    margin: 0;
    position: relative;
    text-align: center;
    z-index: 1;
    transition: color 0.4s ease;
    cursor: pointer;
    color: #7c7c7c;
  }
  input:checked + label {
    color: #fff;
  }
}
.r-all:before {
  background: #1bd39e;
  border-radius: 16px;
  color: #fff;
  content: "";
  display: block;
  position: absolute;
  transform: translate(calc((100% + (3px * 2)) * (var(--options-active) - 1)));
  transition: transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
  width: 344px;
  height: 53px;
}
@media (max-width: 1440px) {
  .createGroup__container {
    margin: 0 2rem;
  }
}
.ranbowLinearCircle {
  background: conic-gradient(
    at bottom left,
    #00ffb5 40%,
    #7270eb 80%,
    80%,
    transparent
  );
}
@media (max-width: 1200px) {
  .createGroup__container {
    h1 {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  form {
    gap: 18px !important;
    input,
    textarea {
      width: 100% !important;
    }
  }
  .createGroup--form {
    gap: 2rem;
    justify-content: center;
    button {
      width: 100%;
    }
    .fileAddToGorup {
      width: 100%;
    }
    .inviteCodeInput--container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      input {
        width: 50%;
        max-width: 100%;
      }
      div {
        width: 40%;
      }
    }
  }
  .createGroup--form .createGroupContent--container {
    width: 90%;
    max-width: 710px;
    gap: 18px !important;
  }
  .createGroup--form
    .createGroupContent--container
    .createGroupContent--imageBox {
    width: 100%;
  }
  .r-all {
    width: 100%;
  }
  .r-all .r-group {
    width: 50%;
  }
  .r-all:before {
    width: 50%;
    transform: translate(
      calc((100% + (-5px * 2)) * (var(--options-active) - 1))
    );
  }
}
@media (max-width: 768px) {
  h1 {
    margin-bottom: 2rem !important;
    font-size: 50px !important;
  }
  .createGroupContent--imageBox {
    height: 300px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 30px !important;
  }
  .createGroup--form .inviteCodeInput--container {
    gap: 20px;
    input {
      width: 100%;
      max-width: 50%;
    }
    .btn-generateCode {
      width: 50% !important;
    }
  }
  .r-all .r-group {
    input + label {
      font-size: 18px;
    }
  }
  button {
    font-size: 20px;
  }
}
.one-group--filter {
  color: #ffffff80;
  font-weight: 500;
  font-size: 25px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.5s ease-in-out;
}
.one-group--filter.active {
  color: #fff;
}
.one-group--filter.active:after {
  width: 100%;
}
.one-group--filter:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  transition: width 0.5s ease-in-out;
}
.one-group--filter:hover {
  color: #fff;
}
.one-group--filter:hover:after {
  width: 100%;
}
.transaction-menu {
  color: #ffffff80;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color 0.5s ease-in-out;
}
.transaction-menu.active {
  color: #fff;
}
.transaction-menu.active:after {
  width: 100%;
}
.transaction-menu:hover {
  color: #fff;
}
.transaction-menu:hover:after {
  width: 100%;
}
.transaction-menu:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  transition: width 0.5s ease-in-out;
}
.modalTransaction {
  position: absolute;
  height: 690px;
  width: 560px;
  border: 1px solid #2e2e2e;
  background: #464646;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: none;
}
.modalTransaction.active {
  display: flex;
}
.outline {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.outline.active {
  display: block;
}
.btn-function {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-function.minus.active,
.btn-function.plus.active {
  border: 2px solid #11a97d;
}
.hover\:scale-90:hover {
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:scale-95:hover {
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:bg-\[\#2e2b34\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(46 43 52 / var(--tw-bg-opacity));
}
.hover\:bg-\[\#f6f6f6\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity));
}
.hover\:text-\[\#00F3AD\]:hover {
  --tw-text-opacity: 1;
  color: rgb(0 243 173 / var(--tw-text-opacity));
}
.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.hover\:opacity-\[\.7\]:hover {
  opacity: 0.7;
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (min-width: 640px) {
  .sm\:w-\[400px\] {
    width: 400px;
  }
  .sm\:w-\[650px\] {
    width: 650px;
  }
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
  .md\:w-\[863px\] {
    width: 863px;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:gap-\[53px\] {
    gap: 53px;
  }
  .md\:text-\[28px\] {
    font-size: 28px;
  }
  .md\:text-\[64px\] {
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  .lg\:max-w-full {
    max-width: 100%;
  }
  .lg\:flex-row {
    flex-direction: row;
  }
}

@media (max-width: 1400px) {
  .setting-container {
      max-width: 90% !important;
  }
  .setting, .btn-back {
      width: 100%;
  }
  .setting form{
      width: 100%;
  }
  .form-container {
      width: 100%;
  }
  .setting input, .setting button {
      width: 100%;
  }
  .setting{
      margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .setting-container h1, .setting-container h2 {
      font-size: 2.1rem !important;
  }
  .animeFunc {
    background: rgb(35,35,35) !important;
    z-index: 99;
  }
}
