@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

body {
    @apply bg-black;
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 400;
}

.body {
    &.active {
        overflow: hidden;
    }
}

.container {
    @apply max-w-[1680px] mx-auto;
}

.btn {
    @apply bg-[#1BD39E] text-black font-medium text-[18px];
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1680px) {
    .header__inner, .profile__inner {
        margin: 0 2rem;
    }

    .task-block {
        width: 50vw;
        padding: 40px 25px;
    }
}

@media (max-width: 1400px) {
    .task-block {
        width: 100%;
    }

    .profile__inner {
        gap: 5rem;
        justify-content: center;
    }

    .dashboard {
        width: 60vw;
    }

    .dashboard__inner {
        width: 100%;
    }

    .dashboard__inner--block {
        width: 100%;
    }
}

@media (max-width: 900px) {

    .task-block {
        .task-block--content {
            max-width: 50vw;
        }
    }

    .task-block--title {
        max-width: 350px;
        font-size: 24px;
    }

    .dashboard__inner--block {
        height: 150px;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;

        form button, a {
            width: 50vw;
        }
    }

    .text-link {
        display: none;
    }
}

@media (max-width: 700px) {
    .dashboard {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .dashboard-title {
        @apply text-3xl;
    }

    .task-block {
        flex-direction: column;
        align-items: baseline;

        .task-block--content {
            max-width: 80vw;
        }
    }

    .dashboard__inner--block {
        form, form button, a {
            width: 100%;
        }
    }
}

.nav {

    a {
        position: relative;
        transition: color .5s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background: #fff;
            height: 2px;
            width: 0;
            transition: width .5s ease-in-out;
        }

        &:hover {
            color: #ffffff;

            &::after {
                width: 100%;
            }
        }
    }

    .activePage {
        color: #ffffff;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background: #fff;
            height: 2px;
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .dashboard__inner p {
        max-width: 300px;
    }

    .task-block {
        padding: 20px 25px;
    }

    .header__burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

        span {
            width: 30px;
            height: 4px;
            background: #D9D9D9;
            border-radius: 15px;
            transition: all .5s ease-in-out;
        }

        &.active {
            position: relative;

            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    position: absolute;
                    bottom: 0;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .nav {
        position: absolute;
        flex-direction: column;
        background: #000;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        padding-top: 45px;
        transition: all .5s ease-in-out;

        &.active {
            top: 10%;
        }
    }
}

@media (max-width: 400px) {
    .dashboard__inner p {
        font-size: 18px;
    }
}

.filter {
    color: rgba(255, 255, 255, .5);
    @apply relative font-medium text-[20px];

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #fff;
        transition: all .5s ease-in-out;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }

    &.active {
        color: #ffffff;

        &::after {
            width: 100%;
        }
    }
}

.bg-roadmap-item-hover {
    transition: all .5s ease-in-out;

    .button-roadmap-item-hover {
        transition: all .5s ease-in-out;

        svg:nth-child(1) {
            display: block;
        }

        svg:nth-child(2) {
            display: none;
        }
    }

    .content-roadmap-item {
        transition: all .5s ease-in-out;
    }

    .text-roadmap-item {
        transition: all .6s ease-in-out;
        color: rgba(255, 255, 255, .5);
        max-width: 265px;
        font-size: 18px;
        margin-left: 40px;
    }
}

.text-roadmap-item {
    opacity: 0;
    top: unset;
    transform: none;
}

.bg-roadmap-item-hover:hover {
    background-image: url('/resources/assets/images/hover-roadmap-block.png');

    .content-roadmap-item {
        transform: translateY(-120px) translateZ(0px);

        img {
            opacity: 0;
        }
    }

    .button-roadmap-item-hover {
        border-color: #CDA3EF;
        background: #CDA3EF;

        svg:nth-child(1) {
            display: none;
        }

        svg:nth-child(2) {
            display: block;
        }
    }

    .text-roadmap-item {
        opacity: 1 !important;
        top: 0;
        transform: translateY(-150px);
    }
}

@media (max-width: 1680px) {
    .func-content, .block-content {
        margin: 0 2rem;
    }

    .func-content {
        flex-direction: column;
        gap: 2rem;
    }

    .block-content {
        justify-content: center;
    }
}

@media (max-width: 530px) {
    .block-content {
        margin: 0;
    }

    .func-content--filter {
        flex-direction: column;
    }

    .func-content {
        .func-content--box {
            width: 100%;
        }

        .func-content--form {
            width: 100%;
            max-width: 100%;
            flex-direction: column;
            gap: 1rem;
            height: auto;
            padding: 1rem 0;

            input[type='text'] {
                padding-left: 0;
                width: 90%;
            }

            button {
                width: 90%;
            }
        }

        .func-invite {
            width: 100%;
            @apply gap-5;

            .func-invite--content {
                width: 100%;
                max-width: 100%;
                flex-direction: column;
                gap: 1rem;
                height: auto;
                padding: 1rem 0;

                input[type='text'] {
                    padding-left: 0;
                    width: 90%;
                }

                button {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 390px) {
    .bg-roadmap-item-hover {
        width: 360px;

        svg {
            width: 360px;
        }
    }

    .bg-roadmap-item-hover:hover {
        background: none;
    }
}

.pathIconContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.createGroup__container {
    @apply max-w-[1440px] mx-auto;
}

.r-all {
    width: 710px;
    height: 65px;
    padding: 6px;
    border: 2px solid #4D4D4D;
    background: rgba(20, 20, 20, .8);
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;

    .r-group {
        width: 344px;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background .2s ease;
        cursor: pointer;

        label {
            width: 344px;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 9;
        }

        input {
            display: none;
        }

        input + label {
            border-radius: 10px;
            font-size: 20px;
            margin: 0;
            position: relative;
            text-align: center;
            z-index: 1;
            transition: color .4s ease;
            cursor: pointer;
            color: #7C7C7C;
        }

        input:checked + label {
            color: #FFF;
        }
    }

    &::before {
        background: #1BD39E;
        border-radius: 16px;
        color: #FFF;
        content: "";
        display: block;
        position: absolute;
        transform: translateX(calc((100% + (3px * 2)) * (var(--options-active) - 1)));
        transition: transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
        width: 344px;
        height: 53px;
    }
}

@media (max-width: 1440px) {
    .createGroup__container {
        margin: 0 2rem;
    }
}

.ranbowLinearCircle {
    background: conic-gradient(at bottom left, #00FFB5 40%, #7270EB 80%, 80%, transparent);
}

@media (max-width: 1200px) {
    .createGroup__container {
        h1 {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    form {
        gap: 18px !important;

        input, textarea {
            width: 100% !important;
        }
    }

    .createGroup--form {
        gap: 2rem;
        justify-content: center;

        .createGroupContent--container {
            width: 90%;
            max-width: 710px;
            gap: 18px !important;

            .createGroupContent--imageBox {
                width: 100%;
            }
        }

        button {
            width: 100%;
        }

        .fileAddToGorup {
            width: 100%;
        }

        .inviteCodeInput--container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            input {
                width: 50%;
                max-width: 100%;
            }

            div {
                width: 40%;
            }
        }
    }

    .r-all {
        width: 100%;

        .r-group {
            width: 50%;
        }

        &:before {
            width: 50%;
            transform: translateX(calc((100% + (-5px * 2)) * (var(--options-active) - 1)));
        }
    }
}

@media (max-width: 768px) {
    h1 {
        margin-bottom: 2rem !important;
        font-size: 50px !important;
    }

    .createGroupContent--imageBox {
        height: 300px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 30px !important;
    }

    .createGroup--form {
        .inviteCodeInput--container {
            gap: 20px;

            input {
                width: 100%;
                max-width: 50%;
            }

            .btn-generateCode {
                width: 50% !important;
            }
        }
    }

    .r-all {
        .r-group {
            input + label {
                font-size: 18px;
            }
        }
    }

    button {
        font-size: 20px;
    }
}

.one-group--filter {
    color: rgba(255, 255, 255, .5);
    font-weight: 500;
    font-size: 25px;
    position: relative;
    width: fit-content;
    transition: color .5s ease-in-out;

    &.active {
        color: #FFFFFF;

        &:after {
            width: 100%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background: #FFFFFF;
        transition: width .5s ease-in-out;
    }

    &:hover {
        color: #FFFFFF;
        &::after {
            width: 100%;
        }
    }
}

.transaction-menu {
    color: rgba(255,255,255,.5);
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color .5s ease-in-out;
    &.active {
        color: #FFFFFF;
        &:after {
            width: 100%;
        }
    }
    &:hover {
        color: #FFFFFF;
        &:after {
            width: 100%;
        }
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background: #FFFFFF;
        transition: width .5s ease-in-out;
    }
}

.modalTransaction {
    @apply w-[560px] h-[690px] absolute;
    border: 1px solid #2E2E2E;
    background: #464646;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    display: none;
    &.active {
        display: flex;
    }
}

.outline {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    display: none;
    &.active {
        display: block;
    }
}

.btn-function {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.minus, &.plus {
        &.active {
            border: 2px solid #11A97D;
        }
    }
}
